# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environment
.env
